

ALTER TABLE [dbo].[MstGLDContribution] ADD
[EmprCostAccount] [nvarchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[EmprCostAcctDisplay] [nvarchar] (120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[EmprBalancingAccount] [nvarchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[EmprBalancingAcctDisplay] [nvarchar] (120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
