

ALTER TABLE dbo.trnsJEDetail ADD
	CostCenter varchar(50) NULL

ALTER TABLE dbo.MstEmployee ADD
	CostCenter varchar(50) NULL

ALTER TABLE dbo.MstElementContribution ADD
ContTaxDiscount numeric(18, 6) NULL

